            @font-face {
                font-family: 'Geist Mono Variable';
                src: url('/fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
                font-weight: 100 900;
                font-style: normal;
                font-display: swap;
            }

            * {
                font-family: 'Geist Mono Variable', monospace;
                color: rgb(177, 178, 181);
                box-sizing: border-box;
            }

            body {
                background-color: rgb(26, 29, 41);
                margin: 0;
                padding: 0;
            }

            a:hover {
                color: rgb(143, 147, 172);
            }

            /* start header */
            header {
                padding-top: 10px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .name {
                font-size: 30px;
            }

            .substring-name {
                font-size: 20px;
                color: rgb(143, 147, 172);
            }

            .header-name {
                padding-left: 90px;
            }

            .link-pages ul {
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                font-size: 20px;
                padding-right: 90px;
                list-style-type: none;
                margin: 0;
            }

            .link-pages button {
                border-radius: 12px;
                border: 1px solid ;
                background: rgba(128, 133, 150, 0.63);
                backdrop-filter: blur(6px);
                cursor: help;
                border: 1px solid rgba(255, 255, 255, 0.3); 
                transition: background-color 0.3s ease, box-shadow 0.3s ease; 
            }

            .link-pages img {
                width: 15px;
                vertical-align: middle;
            }

            .link-pages button:hover {
                background: rgba(131, 136, 175, 0.384);
                box-shadow: 0 1px 10px rgba(161, 164, 189, 0.384)
            }

            #kaomoji {
                font-size: 12px;
            }

            /* end header */

            .line-header {
                display: flex;
                justify-content: center;
            }

            .main-line-centre {
                width: 90%;
                margin-top: 25px;
                border-top: 1px solid rgba(177, 178, 181, 0.35);
            }

            /* start main */

            main {
                justify-content: flex-start;
                padding-top: 70px;
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }

            .main-mywaifu-card {
                width: 100%;
                max-width: 450px;
                background: rgba(20, 22, 30, 0.55);
                border: 1px solid #d4949c59; 
                border-radius: 12px;
                padding: 14px 16px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                backdrop-filter: blur(6px);
            }

            .main-mywaifu-card > img {
                width: 100%;
                max-width: 400px;
                object-fit: cover;
                justify-content: center;
            }

            .main-mywaifu-card:hover {
                background: #bb868d3f;
            }

            .title-mywaifu-card {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500px;
                font-size: 15px;

                background: #8d82839d;
                border-radius: 8px;
                padding: 8px 10px;
            }

            .title-mywaifu-card img {
                width: 20px;
                height: 20px;
                opacity: 0.9s;
            }

            .main-mywaifu {
                padding-left: 90px;
            }

            .block-fav-anime {
                margin-left: 45px;
                width: 320px;
            }

            .main-favorite-anime {
                position: relative;
                width: 320px;
                height: 420px; 
            }

            .card-a {
                position: absolute; 
                width: 320px;
                height: 450px;
                background: rgba(20, 22, 30, 0.55);
                border-radius: 12px;
                padding: 30px;
                opacity: 0;
                transform: translateY(20px) scale(0.95);
                transition: opacity 0.4s ease, transform 0.4s ease;
                border: 1px solid rgba(146, 150, 158, 0.87);
                backdrop-filter: blur(6px);
                pointer-events: none;
                box-sizing: border-box;
                top: 0;
                left: 0;
            }

            .card-a:hover {
                background: rgba(138, 144, 160, 0.185)
            }

            .card-a.active {
                opacity: 1;
                transform: translateY(0) scale(1);
                pointer-events: auto;
            }

            .card-a img {
                width: 100%;
                height: auto;
                max-height: 300px;
                border-radius: 30px;
                display: block;
                margin: 0 auto;
                object-fit: cover; 
                box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                transition: transform 0.3s ease;
            }

            .card-a img:hover {
                transform: scale(1.05);
            }

            .controls-cards {
                justify-content: center;
                margin-top: 50px;  
                gap: 15px;
                display: flex;
            }

            .prev, .next {
                border-radius: 12px; 
                backdrop-filter: blur(6px);
                background: rgba(128, 133, 150, 0.63); 
                cursor: pointer;
                padding: 12px 24px; 
                font-weight: 600; 
                font-size: 16px; 
                border: 1px solid rgba(255, 255, 255, 0.3); 
                transition: background-color 0.3s ease, box-shadow 0.3s ease; 
            }

            .prev:hover, .next:hover {
                background: rgba(128, 133, 150, 0.8);
                box-shadow: 0 4px 12px rgba(128, 133, 150, 0.6);
            }

            .prev:active, .next:active {
                background: rgba(128, 133, 150, 0.95);
                box-shadow: 0 2px 6px rgba(128, 133, 150, 0.8);
                transform: scale(0.98);
            }

            .main-favorite-music {
                width: 100%;
                max-width: 500px;
                background: rgba(20, 22, 30, 0.55);
                border: 1px solid rgba(94, 136, 94, 0.514);
                border-radius: 12px;
                padding: 14px 16px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                backdrop-filter: blur(6px);
            }

            .main-favorite-music:hover {
                background: rgba(156, 175, 124, 0.349);
            }

            .title-favorite-music img {
                width: 20px;
                height: 20px;
                opacity: 0.9s;
            }

            .title-favorite-music {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500px;
                font-size: 15px;

                background: rgba(121, 131, 121, 0.582);
                border-radius: 8px;
                padding:  8px 10px;
            }

            .main-music {
                padding-left: 30px;
            }

            .main-favorite-music button {
                border-radius: 12px;
                width: 100px;
                backdrop-filter: blur(6px);
                background: rgba(128, 133, 150, 0.63); 
                cursor: pointer;
                padding: 12px 24px;
                font-weight: 600px;
                font-size: 16px;
                border: 1px solid rgba(255, 255, 255, 0.3); 
                transition: background-color 0.3s ease, box-shadow 0.3s ease; 
            }

            .main-favorite-music button:hover {
                background: rgba(128, 133, 150, 0.8);
                box-shadow: 0 4px 12px rgba(128, 133, 150, 0.6);
            }

            .main-favorite-music:active {
                background: rgba(128, 133, 150, 0.95);
                box-shadow: 0 2px 6px rgba(128, 133, 150, 0.8);
                transform: scale(0.98);
            }

            .button-music {
                display: flex;
                justify-content: center;
            }

            .main-text {
                width: 100%;
                max-width: 500px;
                padding: 0 20px;
                padding-top: 30px;
            }

            /*end main*/
            .line-footer {
                margin-top: 70px;
                justify-content: center;
                display: flex;
            }
            /*start footer */

            footer {
                text-align: center;
                padding-top: 20px;
            }

            #footer-copyright:hover p {
                color: rgb(143, 147, 172);
            }

            /*end footer */

            @media (max-width: 1024px) {
                .header-name {
                    padding-left: 40px;
                }
            
                .link-pages ul {
                    padding-right: 40px;
                }
            
                .main-line-centre {
                    width: 92%;
                }
            
            
                main {
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
                
                footer {
                    text-align: center;
                    justify-content: center;
                }
            }
            
            @media (max-width: 768px) {
                header {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            
                .header-name {
                    padding-left: 0;
                    padding-bottom: 10px;
                }
            
                .link-pages ul {
                    padding-right: 0;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            
                .main-line-centre {
                    flex-direction: column;
                    gap: 0;
                }
            
                .main-line-centre {
                    content: '';
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                    border-top: 1px solid rgba(177, 178, 181, 0.35);
                    height: 0;
                    margin-top: 12px;
                }
            
                main {
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
            
                footer {
                    text-align: center;
                    justify-content: center;
                }
            }
            
            
            @media (max-width: 480px) {
                .header-name,
                .link-pages ul {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            
                .main-mywaifu,
                .block-fav-anime,
                .main-music,
                .main-text {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }



